
nav.navbar.navbar-expand-sm{
    display: flex;
}
.container{
    display: flex;
    
}
.home{
    display: flex;
}
.home i{
    margin-right: 9px;
}
.d-flex .my-2 .my-lg-0{
    display: flex;
}

input[type="text"] {
    outline: none;
    border: none;
  }
.fas{
    line-height: 0;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    width: 100%;
}
li{
    display: flex;
    align-items: center;
}
.navbar-brand h5{
    margin: 0px;
}
.nav-item a{
   color: black;
    
   text-decoration: none;
}
.d-flex .my-2 .my-lg-0{
    border: none;
}
input.form-control.me-sm-2{
    border: none;
  
}
button{
    border: none;

}
.search_bg{
    height: 38px;
    border: 2px solid #FFC107;
    border-radius: 9px;
}
a {
    margin-left: 10px;
}
.yellow-square {
    width: 50px;
    height: 30px;
    background-color: #FFC107;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.yellow-square_search {
    width: 60px;
    height: 36px;
    background-color: #FFC107;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.magnifying-glass {
    color: white;
}